<div class="relative z-10">
  <div #bg1ScrollTarget class="bg-[#263238] text-white overflow-x-hidden">
    <button class="btn btn-outline btn-lg absolute cursive-title top-4 right-8 z-30 py-3 px-6 text-lg
         star-border-ring" (click)="goToLogin()">
      註冊登入
    </button>


    <div class="img-container-wrapper flex items-center justify-center h-screen relative">
      <img #beachImage class="image max-w-full max-h-full object-contain" src="/forfront/1.jpg"
        style="transform-origin: center center;">
      <div class="cursive-title absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center z-20">
        <h1>
          <span>Left</span>
          <span class="text-stroke">overs</span>
        </h1>
      </div>
    </div>

    <div style="height: 10rem;"></div>

        <div class="more-content-inside-A min-h-[35vh] flex md:flex-row md:justify-end overflow-hidden">
      <div class="custom-container7">
        <div class="custom-container8"></div>
        <div class="custom-container9"><img src="/forfront/4.jpg" class="w-150 h-100"></div>
        <h1 class="transparent-text">Low Carbon</h1>
      </div>
    </div>


    <div style="margin-right: 10%;width: 900px;">
      <div class="content-text animated-content">
        <h2>什麼是 Leftovers？</h2>
        <p class="changefonts">
          Leftovers 是一款專注於對抗食物浪費的網站，它連結超商、餐廳、麵包坊等在地商家，
          將當日沒賣完但依然新鮮的剩食打包成「驚喜餐盒」，
          用超優惠價格提供給附近的使用者。
          Leftovers 讓你省錢吃好料的同時，
          也一起為地球減少浪費。
        </p>
      </div>
    </div>

    <div style="height: 50px;">
      <div style="text-align: end; margin-left: 50%; width: 300px;margin-bottom: 50px;">
        <h3># 拯救美食</h3>
      </div>

      <div style="text-align: end; margin-left: 65%; width: 300px; margin-bottom: 10%;">
        <h3># 拯救地球</h3>
      </div>
    </div>

    <div class="more-content-inside-A min-h-[80vh] flex md:flex-row items-center md:justify-start overflow-hidden">
      <div class="custom-container1">
        <div class="custom-container2"></div>
        <div class="custom-container3"><img src="/forfront/2.jpg" class="w-150 h-100"></div>
        <h1 class="transparent-text">Food Rescue</h1>
      </div>
    </div>

    <div style="height: 10rem;"></div>

    <div style="height: 50px;">
      <div style="text-align: end; margin-left: 58%; width: 500px;">
        <h3># 五招簡單上手</h3>
      </div>
    </div>

    <div class="more-content-inside-A min-h-[20vh]  items-center md:justify-start overflow-hidden">
      <div class="content-text animated-content">
        <h2>如何使用 Leftovers？</h2>
        <div class='body'>
          註冊帳號：立即註冊，輕鬆開通專屬服務。<br>
          啟用定位：即刻看到周遭有什麼商家提供今日的剩食，準確推薦周邊好店。<br>
          輕鬆下單：無論是剩食或是驚喜包，隨心選擇，快速下單，滿足你的味蕾。<br>
          到店取餐：準時到店，出示取餐碼，快速取餐，省時又省心。<br>
          享用美食：每一口都是珍惜，一起享用美味好食。
        </div>
      </div>
    </div>

    <div class="more-content-inside-A min-h-[35vh] flex md:flex-row md:justify-end overflow-hidden">
      <div class="custom-container4">
        <div class="custom-container5"></div>
        <div class="custom-container6"><img src="/forfront/3.jpg" class="w-150 h-100"></div>
        <h1 class="transparent-text">sustainable</h1>
      </div>
    </div>

    <div style="height: 6rem;"></div>

    <div style="height: 10px;">
      <div style="text-align: start; margin-left: 9%; width: 550px;">
        <h3># 美食與永續的雙贏</h3>
      </div>
    </div>

    <div class="more-content-inside-A min-h-[10vh] mt-30 w-180 md:justify-start overflow-hidden">
      <div class="content-text animated-content">
        <h2>為什麼支持 Leftovers？</h2>

        <div class='body'>
          愛護地球：<br>食物浪費是碳排放的隱形殺手，Leftovers 讓好食物回到餐桌，不進垃圾桶。<br><br>
          吃到新發現：<br>也許只花一杯咖啡的錢，就能吃到豐盛料理，還可能遇上從未品嚐過的美味。<br><br>
          幫助小店渡過難關：<br>商家能出清過剩食材、減少損耗，又能吸引對價格敏感的新顧客，一舉數得。<br>
        </div>
      </div>
    </div>



    <div style="height: 8rem;"></div>

    <div class="flex justify-center mt-8 mb-20">
      <button class="changefonts btn btn-outline btn-lg py-3 px-8 text-xl" (click)="goToLogin()">註冊登入</button>
    </div>
  </div>
</div>
